{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container" id="contents">
    <div class="row">
        <div class="span8 offset2">
            <h2>{% trans "Login Temporarly Disabled" %}</h2>
            {% comment %}
            <p><a class="signin btn btn-large btn-info" href="/accounts/twitter/signin/"><i class="icon-user icon-white"></i> Sign In With Twitter</a>
                <a class="signin btn btn-large" href="/accounts/github/signin/"><i class="icon-user"></i> Sign In With Github</a></p>
            
            
            <h2>{% trans "Old School Login" %}</h2>
            <p><a href="{% url gae-django-register %}">{% trans "I do not have an account!" %}</a></p>
            <form method="post" action="{% url gae-django-login %}">{% csrf_token %}
                <div class="well">
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    {{ field.label_tag }}
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}<span class="help-inline">{% for e in field.errors %}{{ e }} {% endfor %}</span>{% endif %}
                    </div>
                </div>
                {% endfor %}
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="{% trans "Sign In" %}" />
                    <a href=".." class="btn">{% trans "Cancel" %}</a>
                </div>            
            </form>
            {% endcomment %}
        </div>
    </div>
</div>

{% endblock %}
