{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}registration{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container">
    
    <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        <h2>{% trans "Please Sign In" %}</h2>
        <p><a class="signin btn btn-large btn-info" href="/accounts/login/twitter/">Sign In With Twitter</a></p>
        <p><a class="signin btn btn-large" href="/accounts/login/github/">Sign In With Github</a></p>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input id="id_username" maxlength="254" class="first" name="username" type="text"  placeholder="Username" required {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
        <input id="id_password" type="password" name="password" class="last" placeholder="Password" required>
        <p class="quiet"><a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a></p>
        <button class="signin btn btn-large btn-primary" type="submit">Sign In</button>
        <h4><a href="{% url 'register' %}">{% trans "Don't have an account?" %}</a></h4>
    </form>
</div>

{% endblock %}
