{% extends "base.html" %}

{% load i18n %}

{% block navbar %}{% endblock %}

{% block bodyclass %}registration{% endblock %}

{% block content %}
<div class="container" id="contents">
    <form method="post" action="">
        <h2>{% trans "Reset Password" %}</h1>
        {% csrf_token %}
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
        <input class="first" type="password" name="new_password1" placeholder="New Password" required>
        <input class="last" type="password" name="new_password2" placeholder="Re-enter New Password" required>
        <button type="submit" class="btn btn-large btn-primary">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
