{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}profile{% endblock %}

{% block content %} 
<div class="container" id="contents">
    <div class="row">
        <div class="span8 offset2">
            <h1 class="user">{% trans "Player 1_" %}</h1>
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                <div class="well">
                {% for field in form %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    {{ field.label_tag }}
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}<span class="help-inline">{% for e in field.errors %}{{ e }} {% endfor %}</span>{% endif %}
                    </div>
                </div>
                {% endfor %}
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="{% trans "Sign Up!" %}" />
                    <a href=".." class="btn">{% trans "Cancel" %}</a>
                </div>            
            </form>
        </div>
    </div>
</div>
{% endblock %}
