{% extends "base.html" %}

{% load i18n %}

{% block navbar %}{% endblock %}

{% block bodyclass %}registration{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action=".">
        <h2>{% trans "Please Sign Up" %}</h2>
        {% csrf_token %}
        {{ form.username.errors }}
        {{ form.password2.errors }}
        <input class="first" type="text" id="id_username" name="username" placeholder="Username" required autofocus  {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
        <input class="middle" type="password" id="id_password1" name="password1" placeholder="Password" required>
        <input class="last" type="password" id="id_password2" name="password2" placeholder="Re-enter Password" required>
        <button type="submit" class="btn btn-large btn-primary">{% trans "Sign Up!" %}</button>
        <h4><a href="{% url 'signin' %}">{% trans "Already have an account?" %}</a></h4>
    </form>
</div>
{% endblock %}
