*.py[co]
*.sw[po]
.project
.pydevproject
.settings
secrets.py
settings_local.py
build/
.venv
assets/node_modules
july/static_root/css
july/static_root/js
assets/_specrunner.html
julython.db
.idea/
npm-debug.log
.coverage
htmlcov/*
/venv
.vagrant
.DS_Store
