*.py[co]
*.sw[po]
.project
.pydevproject
.settings
secrets.py
settings_local.py
build/
.venv
assets/node_modules
july/static_root/css
july/static/css
july/static_root/js
july/static/js
assets/_specrunner.html
julython.db
