# This is for production if you are just working locally
# you can use requirements-dev.txt to avoid installing mysql

-r requirements-dev.txt

distribute>=0.6.28
MySQL-python
gunicorn
python-memcached
newrelic
