
# livin' on the edge
-e git+https://github.com/django/django.git@1.5b1#egg=django
-e git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie

Fabric==1.5.1
django-social-auth==0.7.12
iso8601==0.1.4
django-debug-toolbar
requests
South
# You can comment this out if running locally with sqlite
MySQL-python==1.2.4c1