Django==1.5.1
django-tastypie==0.9.15
Fabric==1.5.1
django-social-auth==0.7.12
iso8601==0.1.4
django-debug-toolbar
requests
South
mock
jsonfield
pytz
pep8
# You can comment these out if running locally with sqlite
distribute>=0.6.28
MySQL-python
gunicorn
