{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}profile{% endblock %}

{% block content %}
<div class="container" id="contents">
    <div class="row">
        <div class="span8 offset2">
            <form method="post" action="{% url 'delete-email' user.id email %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="well">
                   <h2>{% trans "Are you sure you want to delete this email:" %}</h2>
                   <p>{{ email }}</p>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="{% trans "Yes Delete" %}" />
                    <a href="{% url 'edit-profile' user.id %}" class="btn">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
