{% extends "people/profile.html" %}

{% load i18n %}

{% block content %} 
<div class="container" id="contents">
    <div class="row">
        <div class="span8 offset2">
            <h1 class="user">{% block formtitle %}{%  endblock %}</h1>
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                <div class="well">
                {% for field in form %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    <span>{{ field.label_tag }}</span> {%  if not field.field.required %}<em>(optional)</em>{% endif %}
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}<span class="help-inline">{% for e in field.errors %}{{ e }} {% endfor %}</span>{% endif %}
                    </div>
                </div>
                {% endfor %}
                {% if form.emails %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    <label>{% trans "Existing emails" %}</label>
                    <div class="controls">
                        <ul>
                            {% for email in form.emails %}
                            <li>{{ email }} <a href="{% url delete-email user.username email %}" class="delete">{% trans "delete" %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
                    <a href=".." class="btn">{% trans "Cancel" %}</a>
                </div>            
            </form>
        </div>
    </div>
</div>
{% endblock %}
