{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}profile{% endblock %}

{% block content %}

<div class="container section-container no-border">
    <div class="row locations">
        <div class="span10 offset1"><br />
            <div class="row project">
            <div class="span6">
              <a href="{% url 'languages' %}">{% trans "All languages" %}</a>
              <h3>{{ language }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="span10">
            <h2 class="spread-the-word">{% trans "Commits" %}</h2>
              <div id="commits" data-bind="pageBottom: fetch">
              	<div data-bind="foreach: commits">
              		<div class="media">
	            	  <a class="thumbnail pull-left" data-bind="visible: picture_url, attr: {href: '/' + username() +'/'}">
		            	<img class="media-object" data-bind="attr: {src: picture_url, alt: username}" />
	            	  </a>
	            	  <div class="media-body">
	            	  	<h4 class="media-heading" data-bind="timeago: timestamp"></h4>
	            		<strong data-bind="text: message"></strong>
	            		<p class="hash">
	                      	<a data-bind="visible: username, text: username, attr: {href: '/' + username() + '/' }"></a> <span data-bind="visible: username, text: '&mdash;'"></span>
	                      	<a data-bind="visible: url, attr:{href:url }"><span data-bind="text: hash().substring(0, 8)"></span></a>
	                      	<span data-bind="visible: !url(), text: hash().substring(0, 8)"></span>
	                      </p>
	              	  </div>
	                </div>
              	</div>
              	<a class="btn btn-primary" data-bind="visible: hasMore, click: fetch">Load More</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
	var view = new JULY.CommitsView({languages: ['{{ language.name }}'] });
	JULY.applyBindings(view, '#commits');
</script>
{% endblock %}
