{% extends "people/profile.html" %}


{% block bodyclass %}profile{% endblock %}

{% block content %} 
<div class="container section-container no-border" id="contents">
    <div class="row">
        <div class="span10 offset1">
            <h2 class="spread-the-word">Your Projects</h2>
        </div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            {% for project in projects%}
            <div class="row">
                <div class="span8">
                    <h3><a href="/projects/{{ project.project_name }}">{{ project.name }}</a> </h3>
                    <span>({{ project.total }} points)</span>
                </div>
                <div class="span8">
                    <dl><span class="description">{{ project.description }} </span></dl>
                    <dl><a href="{{ project.url }}">Project Page</a></dl>
                </div>
            </div>
            {% if not forloop.last %} 
            <hr/>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
