{% load i18n %}
<div class="row">
  <div class="span10">
    <div class="row">
      <div class="span4" id="project-list">
        <h2 class="spread-the-word">{% trans "Projects" %}</h2>
        <div data-bind="foreach: projects" class="projects">
          {% include "includes/user_project.html" %}
        </div>
      </div>
      {% if profile.username == user.username %}
      <div class="span6" id="github">
        <h2 class="teaming-up">{% trans "Github Projects" %}</h2>
        {% if not profile.github %}
        <a class="signin btn btn-info" href="/accounts/login/github/">
          <i class="icon-user icon-white"></i> Link Github Account</a>
        {% else %}
        <p data-bind="visible: !repos()">{% blocktrans %}Add/remove hooks to your projects on github!{% endblocktrans %}</p>
        <div data-bind="foreach: repos">
          <div class="well well-small">
            <img src="{{ STATIC_URL }}images/loader.gif" data-bind="visible: working" style="display: none;" />
            <div data-bind="if: !working()">
              <h4>
                <a data-bind="text: name, attr: {href: html_url}" target="_blank"></a>
              </h4>
              <a data-bind="click: add, visible: hooks().length == 0" class="btn btn-info">
                {% trans "Add Hook" %}
              </a>
              <div data-bind="foreach: hooks">
                <span class="label" data-bind="text: last_response.status, css: {'label-success': last_response.code == 200}"></span> <span data-bind="timeago: updated_at"></span>
                <a data-bind="click: test.bind($data, '{{ csrf_token }}')">{% trans "Test" %}</a>
              </div>
            </div>
          </div>
        </div>
        <a  data-bind="click: fetch" class="btn btn-info">Fetch Projects</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
