{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}profile{% endblock %}

{% block content %}

<div class="container section-container no-border">
    <div class="row locations">
        <div class="span6 offset3"><br />
            <div class="row location">
            <div class="span5">
              <a href="{% url locations %}">{% trans "All locations" %}</a>
              {% if location %} 
              <h3>{{ location }}</h3>
              <p>
                {% blocktrans count number_of_projects=location.projects.length %}{{ number_of_projects }} project{% plural %}{{ number_of_projects }} projects{% endblocktrans %}
              </p>
              {% else %}
              <h3>{{ slug }}</h3>
              {% endif %}
            </div>
            <div class="points pull-right">
                <p>{% firstof location.total '0' %}</p>
                <p class="small">{% trans "points" %}</p>
            </div>
          </div>
            <h4>Players</h4>
            <ul>
              {% for user in users %}
                <li>
                  <a href="{% url member-profile user.username %}">{{ user }}</a> &mdash;
                    {# FIXME - Rendered as "0 point in ..." when user.total == 0 #}
                    {% blocktrans count number_of_points=user.total|default:0 %}{{ number_of_points }} points in {% plural %}{{ number_of_points }} point in {% endblocktrans %}
                    {% blocktrans count number_of_projects=user.projects|length %}{{ number_of_projects }} project{% plural %}{{ number_of_projects }} projects{% endblocktrans %}
                </li>
              {% endfor %}  
            </ul>
        </div>
    </div>
</div>

{% endblock %}
