{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}profile{% endblock %}

{% block contentheader %}

<div class="container" id="contents">
        <div class="row">
            <div class="span10 offset1">
            <div class="header">
                    <div class="avatar span1">
                        <img src="{{ profile.picture_url }}" alt="{{profile}}" />                    
                    </div>
                    <div class="user span6">
                        <h1>{{ profile }}</h1>
                        <p class="about-me">{% if profile.description %}{{ profile.description }}{% else %}{% trans "Python Hacker" %}{% endif %}</p>
                        <ul class="user-links">
                            <li class="twitter">
                                <a href="https://twitter.com/{{ profile.username }}" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">{% trans "Follow" %}</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </li>
                            {% if profile.url %}
                            <li><a class="btn btn-mini profile-link" href="{{ profile.url }}"><i class="icon-globe"></i> {{profile.url}}</a></li>
                            {% endif %}
                            {% if profile.location %}
                            <li><a class="btn btn-mini profile-link" href="/location/{{ profile.location_slug }}"><i class="icon-map-marker"></i> {{ profile.location}}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="points pull-right">
                        <p>{% firstof profile.total '0' %}</p>
                        <p class="small">{% trans "points" %}</p>
                        
                    </div>
                <div class="subnav">
                        <ul class="nav nav-pills">
                            <li><a href="{% url member-profile username=profile.username %}" class="active">{% trans "Commits" %}</a></li>
                            <li><a href="{% url user-projects username=profile.username %}">{% trans "Projects" %}</a></li>
                            {% if profile.username == user.username %}
                            <li><a href="{% url edit-profile username=profile.username %}">{% trans "Edit Profile" %}</a></li>
                            {% endif %}
                            <li class="search pull-right">
                                <form class="navbar-form">
                                    <input type="text" class="search-query" placeholder="{% trans "Search my commits" %}">
                                </form>
                            </li>
                        </ul>
                </div>           
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

{# Used within blocktrans #}
{% url edit-profile username=user.username as edit_profile_url %}

<div class="container section-container no-border">
  <div class="row">
    <div class="span10 offset1">
        {% if commits %}
        <div class="row">
            <div class="span10">
              <h2 class="spread-the-word">{{ profile }}'s Commits</h2>
              {% for commit in commits %}
              {% ifchanged %}<h3>{{ commit.timestamp|date:"M j, Y" }}</h3>{% endifchanged %}
              <div class="row commit">
                  <div class="span7 pull-left">
                      <img class="icon" src="{{ profile.picture_url }}">
                      <strong>{{ commit.message}}</strong>
                      <p class="hash">{% if commit.url %}<a href="{{ commit.url }}">{{ commit.hash }}</a>{% else %}{{ commit.hash }}{% endif %}</p>
                  </div>
                  <div class="span3 pull-right">
                      <a href="{{ commit.project }}">{{ commit.project }}</a>
                  </div>
              </div>
              {% endfor %}
            </div>
        </div>
        {% else %}
        {% if profile.username != user.username %}
        <div class="row">
            <div class="span10">
              <h2 class="spread-the-word">{% trans "Still preparing for lift off!" %}</h2>
              <p class="lead">{% trans "This user has not committed to any project yet." %}</p>
            </div>
        </div>
        {% else %}
          <div class="row">
            <div class="span10">
              <h2 class="spread-the-word">{% trans "Let's get started!" %}</h2>
              <p class="lead">
                {% blocktrans %}First <a href="{{ edit_profile_url }}">edit your profile</a> and add all the email addresses you use to commit with.  This is how we'll identify you, we will not display or share this information.{% endblocktrans %}
              </p>
            </div>
          </div>
          {% include "includes/hook-instructions.html" %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
