{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}profile{% endblock %}

{% block content %}

<div class="container section-container no-border">
    <div class="row locations">
        <div class="span10 offset1"><br />
            <div class="row project">
            <div class="span6">
              <a href="{% url 'projects' %}">{% trans "All projects" %}</a> 
              <h3>{{ project }}</h3>
              <p><a href="{{ project.url }}">{{ project.url }}</a></p>
            </div>
            <div class="points pull-right">
                <p>{% firstof project.total '0' %}</p>
                <p class="small">{% trans "points" %}</p>
            </div>
          </div>
          <div class="row">
            <div class="span6">   
            <h4>{% trans "Players" %}</h4>
            <ul>
              {% for user in project.user_set.all|slice:":100" %}
                <li>
                  <a href="{% url 'member-profile' user.username %}">{{ user }}</a> &mdash;
                    {% blocktrans count number_of_points=user.points %}{{ number_of_points }} point in {% plural %}{{ number_of_points }} points in {% endblocktrans %}
                    {% blocktrans count number_of_projects=user.projects.count %}{{ number_of_projects }} project{% plural %}{{ number_of_projects }} projects{% endblocktrans %}
                </li>
              {% endfor %}  
            </ul>
            </div>
          </div>
          <div class="row">
            <div class="span10">   
            <h2 class="spread-the-word">{% trans "Commits" %}</h2>
              <div id="commits" data-bdind="with: commits">
              	<div data-bind="foreach: commits">
              	   <div class="row commit">
	                  <div class="span7 pull-left">
	                      <strong data-bind="text: message"></strong>
	                      <p class="hash">
	                      	<a data-bind="visible: username, text: author, attrs: {href: '/' + username }"></a> <span data-bind="visible: username, text: '&mdash'"></span>
	                      	{% if commit.url %}<a href="{{ commit.url }}">{{ commit.hash }}</a>{% else %}{{ commit.hash }}{% endif %}
	                      </p>
	                  </div>
	              </div>
              	</div>
              	<a class="btn btn-primary" data-bind="click: fetch">Load More</a>
              {% ifchanged %}<h3>{{ commit.timestamp|date:"M j, Y" }}</h3>{% endifchanged %}
              <div class="row commit">
                  <div class="span7 pull-left">
                      <strong>{{ commit.message}}</strong>
                      <p class="hash">
                      	{% if commit.user %}<a href="{% url 'member-profile' commit.user.username %}">{{ commit.user }}</a> &mdash;{% endif %}
                      	{% if commit.url %}<a href="{{ commit.url }}">{{ commit.hash }}</a>{% else %}{{ commit.hash }}{% endif %}
                      </p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
	var view = new JULY.ProjectCommitsView({projectId: {{ project.id }}});
	//var c = new Backbone.Collection([{message: 'wwooo'}, {message: 'yah'}]);
	//c.fetch();
	//var view = {
	//	commits: kb.collectionObservable(c)
	//}
	ko.applyBindings(view, $('#commits')[0]);
</script>
{% endblock %}