{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}profile{% endblock %}

{% block content %}

<div class="container section-container no-border">
    <div class="row locations">
        <div class="span6 offset3"><br />
            <div class="row location">
            <div class="span5">
              <a href="{% url 'teams' %}">{% trans "All teams" %}</a>
              {% if team %} 
              <h3>{{ team }}</h3>
              {% else %}
              <h3>{{ slug }}</h3>
              {% endif %}
            </div>
            <div class="points pull-right">
                <p>{% firstof team.total '0' %}</p>
                <p class="small">{% trans "points" %}</p>
            </div>
          </div>
            <h4>Players</h4>
            <ul>
              {% for user in team.team_members.all|slice:":100" %}
                <li>
                  <a href="{% url 'member-profile' user.username %}">{{ user }}</a> &mdash;
                    {% blocktrans count number_of_points=user.points %}{{ number_of_points }} point in {% plural %}{{ number_of_points }} points in {% endblocktrans %}
                    <a href="{% url 'user-projects' user.username %}">{% blocktrans count number_of_projects=user.projects.count %}{{ number_of_projects }} project{% plural %}{{ number_of_projects }} projects{% endblocktrans %}</a>
                </li>
              {% endfor %}  
            </ul>
        </div>
    </div>
</div>

{% endblock %}
