{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container section-container no-border">
  <div class="row locations">
    <div class="span8 offset2">
        <h2 class="teaming-up">{% trans "Teams" %}</h2>
        {% for team in object_list %}
          <div class="row location">
            <div class="span5">
              <h3><a href="{% url 'team-details' team.slug %}">{{ team }}</a></h3>
              <p>
                {% blocktrans count number_of_players=team.team_members.count %}{{ number_of_players }} player{% plural %}{{ number_of_players }} players{% endblocktrans %}
              </p>
            </div>
            <div class="points pull-right">
                <p>{{ team.total }}</p>
                <p class="small">{% trans "points" %}</p>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

