{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container section-container no-border">
  <div class="row locations">
    <div class="span6 offset3">
        <h2 class="teaming-up">{% trans "Projects" %}</h2>
        {% for board in object_list %}
          <div class="row location">
            <div class="span5">
              <h3><a href="{% url 'project-details' board.project.slug %}">{{ board.project }}</a></h3>
              <p><a href="{{ board.project.url }}" target="_blank">{{ board.project.url }}</a></p>
            </div>
            <div class="points pull-right">
                <p>{{ board.points }}</p>
                <p class="small">{% trans "points" %}</p>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
