{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <h3>Large Projects</h3>
      {% for board in large_boards %}
        {% include "includes/board.html" %}
      {% endfor %}
    </div>
    <div class="span4">
      <h3>Medium Projects</h3>
      {% for board in medium_boards %}
        {% include "includes/board.html" %}
      {% endfor %}
    </div>
    <div class="span4">
      <h3>Small Projects</h3>
      {% for board in small_boards %}
        {% include "includes/board.html" %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
