{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container section-container no-border">
  <div class="row locations">
    <div class="span6 offset3">
        <h2 class="teaming-up">{% trans "Languages" %}</h2>
        {% for language_board in object_list %}
          <div class="row location">
            <div class="span5">
              <h3><a href="{% url 'language-details' language_board.language.name %}">{{ language_board.language }}</a></h3>
            </div>
            <div class="points pull-right">
                <p>{{ language_board.points }}</p>
                <p class="small">{% trans "points" %}</p>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
