{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}profile{% endblock %}

{% block content %}

<div class="container section-container no-border">
    <div class="row locations">
        <div class="span6 offset3"><br />
            <h3>{% trans "High Scores" %}</h3><hr/>
              {% for player in object_list %}
                <div class="row"> 
                    <div class="span5">
                      <h3>
                        <img src="{{ player.user.picture_url }}" alt="{{ player.user.first_name}} {{ player.user.last_name }}" width="50"/>
                        <a href="{% url 'member-profile' player.user.username %}">{{ player }}</a>
                      </h3>
                      <div>
                        
                        
                      </div>
                     </div>
                     <div class="span1">
                     <div class="points pull-right">
                        <p>{{ player.points|default:"0" }}</p>
                        <p class="small">{% trans "points" %}</p>
                    </div>
                    </div>
                </div>

                <hr/>
              {% endfor %}  
        </div>
    </div>
</div>

{% endblock %}
