.commit-chart {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.commit-chart svg rect {
  fill: steelblue;
}

.commit-chart svg text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.commit-chart svg text.xLabel {
  fill: #333;
}

.commit-chart svg text.yLabel {
  font-size: 10px;
  font-weight: bold;
  fill: #AAA;
}

.commit-chart svg line.rule {
  stroke: #000;
  stroke-width: 1px;
}
