<li class="user-badge"
  data-bind="event: {mouseover: over, mouseout: out}, css: badge_classes, attr: {'data-badge-id': badge_id}">
  <span class="fa" data-bind="css: icon"></span>
</li>

<div class="badge-overlay"
  data-bind="css: badge_classes, attr: {'data-overlay-for': badge_id }">
  <h4 class="title" data-bind="text: title"></h4>
  <p class="subtitle" data-bind="text: subtitle"></p>
  <div class="progress">
    <div class="bar" data-bind="style: { width: progress }">
      <span class="fa" data-bind="css: status_classes"></span> <span data-bind="text: status"></span>
    </div>
  </div>
</div>
