<div class="media">
  <a class="thumbnail pull-left"
     data-bind="visible: picture_url, attr: {href: '/' + username() +'/'}">                 
    <img class="media-object" width="50" hieght="50"
         data-bind="attr: {src: picture_url, alt: username}" /></a>
  <div class="media-body">
    <h4 class="media-heading">
      <span data-bind="timeago: timestamp"></span> 
      &mdash; 
      <a data-bind="text: project_name, attr: {href: project_url}"></a>
    </h4>
    <strong data-bind="text: message"></strong>
    <p class="hash">
      <a data-bind="visible: username, text: username, attr: {href: '/' + username() + '/' }"></a>
      <span data-bind="visible: username, text: '&mdash;'"></span>
      <a data-bind="visible: url, attr:{href:url }">
        <span data-bind="text: hash().substring(0, 8)"></span>
      </a>
      <span data-bind="visible: !url(), text: hash().substring(0, 8)"></span>
    </p>
    <ul class="files" data-bind="foreach: files">
      <li>
        <i data-bind="css: { 'icon-plus': type == 'added', 'icon-edit': type == 'modified', 'icon-minus': type == 'removed'}"></i>
        <span data-bind="text: file"></span>
      </li>
    </ul>
  </div>
</div>