{% load i18n %}

<div class="row">
  <div class="span10">
    <h2 class="what-is-this">
      {% trans "How do I add a web hook for my project?" %}
    </h2>
  </div>
</div>
<div class="row">
  <div class="span5 section-blurb">
    <h3>{% trans "Github" %}</h3>
    <p>
      {% trans "If you host your project on github, follow the instructions below to setup a post recieve hook." %}
    </p>
    <ol>
      <li>{% trans "Go to your project on <a href='http://github.com'>github</a>." %}</li>
      <li>{% trans "Select the 'Admin' button at the top of the project dashboard." %}</li>
      <li>{% trans "Select 'Service Hooks' on the left menu." %}</li>
      <li>{% trans "In 'Available service hooks' select 'Webhook URLs'." %}</li>
      <li>{% trans "Enter the URL: <pre>http://www.julython.org/api/v1/github</pre>" %}</li>
      <li>{% trans "Select 'Update Settings'" %}</li>
    </ol>
    <p>
      {% trans "You can test it out by selecting 'WebHook URLs' again and choosing 'Test Hook'. Or you can try pushing a commit to your repository." %}
    </p>
  </div>
  <div class="span5 section-blurb">
    <h3>{% trans "Bitbucket" %}</h3>
    <p>
      {% trans "If you host your project on bitbucket, follow the instructions below to setup a post recieve hook." %}
    </p>
    <ol>
        <li>{% trans "Go to your project on <a href='http://bitbucket.org'>bitbucket</a>." %}</li>
        <li>{% trans "Select the 'Admin' admin tab on your project dashboard." %}</li>
        <li>{% trans "Select 'Services' on the left menu." %}</li>
        <li>{% trans "In the 'Select a service' dropdown select or type 'POST' then 'Add service'." %}</li>
        <li>{% trans "Enter the URL: <pre>http://www.julython.org/api/v1/bitbucket</pre>" %}</li>
        <li>{% trans "Select 'Save Settings'" %}</li>
    </ol>
    <p>{% trans "You can test it out by pushing a commit to your repository." %}</p>
  </div>
</div>
