{% load i18n %}

<div class="row">
  <div class="span10">
    <h2 class="what-is-this">
      {% trans "How do I add a web hook for my project?" %}
    </h2>
  </div>
</div>
<div class="row">
  <div class="span5 section-blurb">
    <h3>{% trans "Github" %}</h3>
    <p>
      {% trans "If you host your project on github, follow the instructions below to setup a post receive hook." %}
    </p>
    <ol>
      <li>{% trans "Go to your project on <a href='http://github.com'>github</a>." %}</li>
      <li>{% trans "Select the 'Settings' link on the project dashboard." %}</li>
      <li>{% trans "Select 'Webhooks and Services' on the left menu." %}</li>
      <li>{% trans "Select 'Add webhook'." %}</li>
      <li>{% trans "Enter the Payload URL: <pre>http://www.julython.org/api/v1/github</pre>" %}</li>
      <li>{% trans "Choose Content type: <pre>application/x-www-form-urlencoded</pre>" %}</li>
      <li>{% trans "There is no secret, and we just want the 'push' event sent" %}</li>
      <li>{% trans "Make sure it is active and select 'Add Webhook'" %}</li>
    </ol>
    <p>
      {% trans "You can validate and re-test the hook by selecting it expanding the 'Recent Deliveries' and select 'Redeliver'" %}
    </p>
  </div>
  <div class="span5 section-blurb">
    <h3>{% trans "Bitbucket" %}</h3>
    <p>
      {% trans "If you host your project on bitbucket, follow the instructions below to setup a post receive hook." %}
    </p>
    <ol>
        <li>{% trans "Go to your project on <a href='http://bitbucket.org'>bitbucket</a>." %}</li>
        <li>{% trans "Select the 'Settings' admin tab on your project dashboard." %}</li>
        <li>{% trans "Select 'Hooks' on the left menu." %}</li>
        <li>{% trans "In the 'Select a hook...' dropdown select or type 'POST' then 'Add hook'." %}</li>
        <li>{% trans "Enter the URL: <pre>http://www.julython.org/api/v1/bitbucket</pre>" %}</li>
    </ol>
    <p>{% trans "You can test it out by pushing a commit to your repository." %}</p>
  </div>
</div>
