{% extends "base.html" %}

{% load i18n %}

{% block navbar %}{% endblock %}

{% block bodyclass %}registration{% endblock %}

{% block content %}
<div class="container" id="contents">
    <form method="post" action=".">
        <h2>{% trans "Password Reset" %}</h2>
        {% csrf_token %}
        {{ form.email.errors }}
        <input type="email" name="email" id="id_email" placeholder="E-mail Address" required  {% if form.email.value %}value="{{ form.email.value }}"{% endif %}> 
        <button type="submit" class="btn btn-large btn-primary">{% trans "Reset Password" %}</button>
    </form>
</div>
{% endblock %}
