<ul class="user-badges" data-container="badges">
</ul>

<script src="{{ STATIC_URL }}js/badges.js" type="text/javascript"></script>

<section data-template="badge">
<li class="user-badge { level } { awarded_class }"
  data-badge-id="user-badge-{ id }">
  <span class="fa { icon }"></span>
</li>
</section>

<section data-template="badge-overlay">
  <div class="badge-overlay { awarded_class } { level }"
    data-badge-id="{ id }">
    <h4 class="title">{ title }</h4>
    <p class="subtitle">{ subtitle }</p>
    <div class="progress">
      <div class="bar" style="width: { progress }%">
        <span>{ status_icon }{ status }</span>
      </div>
    </div>
  </div>
</section>
