<!DOCTYPE html>
<html>
<head><title>Some not so hot server crashing type stuff.</title></head>
<body style="background:#ccc;padding:0;margin:0;color:#666;font-family:'Lucida Console',Monaco,monospace">
    <div style="width:700px;margin:auto;padding-top:10em;">
        <div style="border:2px solid #666;padding:3em;margin:auto;background:#eee;-moz-border-radius:10px;border-radius:10px;-webkit-border-radius:10px;">
            <h1>Whoops! More work to do!</h1>
            <p>You should submit a pull request to fix this bug.</p>
            <p><a href="http://github.com/julython/julython.org">Our github</a></p>
        </div>
    </div>
</body>
</html>