{% extends "base.html" %}

{% load i18n markup %}

{% block content %}
{# used in blocktrans below #}
{% url 'help' as help_url %}
    <div class="container hidden-phone">
      <div class="row">
        <div class="span12">
          <h1 class="hidden-phone" id="logo">{% trans "Julython" %}</h1>
        </div>
      </div>

     {% comment %}
      <div class="row">
        <div class="span6 offset3 large-notice">
          <a href="http://julython.spreadshirt.com" class="tshirt">
            {% trans "Support Julython. Buy a shirt." %}
          </a> or <iframe style="position: relative;top: 7px;border: 0; margin: 0; padding: 0;"
			        src="https://www.gittip.com/julython/widget.html"
			        width="48pt" height="22pt"></iframe>
        </div>
      </div>
      {% endcomment %}
    </div>

    <div class="offset-container">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h2 class="section-header rocket-header">
              <span class="section-icon rocket-icon"></span>
              {% trans "What is Julython?" %}
            </h2>
            <p>
                {% blocktrans %}
                During the month of July, we're encouraging developers of all
                skill levels to try and work on your pet project(s) just a
                little each day. It's a great excuse to contribute to the
                communities you follow, or even dive into a language for the
                first time.
                {% endblocktrans %}
            </p>
          </div>
          <div class="span4">
            <h2 class="section-header rules-header">
              <span class="section-icon rules-icon"></span>
              {% trans "Are There Rules?" %}
            </h2>
            <p>
                {% blocktrans %}
                There is only one rule, to have fun! The goal is that you
                either learn something new or to help finish a project you
                started. If you share your repository or your commits with us,
                we will <a href="{{ help_url }}#points">tally up points</a>
                for each commit or new project you work on
                <a href="{{ help_url }}#times">during the month of July</a>.
                {% endblocktrans %}
            </p>
          </div>
          <div class="span4">
            <h2 class="section-header plus-one-header">
              <span class="section-icon plus-one-icon"></span>
              {% trans "How Do I Join In?" %}
            </h2>
            <p>
                {% blocktrans %}
                All you need is a project to work on that isn't your regular
                day job. We recommend you choose something open, perhaps on
                GitHub or Bitbucket, so that others can see your progress.
                Then <a href="{{ help_url }}#webhook">add a webhook</a> for
                your repository, and we'll track your progress next to everyone
                else.{% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-container no-border hidden-phone">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span8">
              <h2 class="spread-the-word">{% blocktrans %}<span id="commit-total">{{ total }}</span> commits during {{ game }}!{% endblocktrans %}</h2>
              <div id="user-barchart"
                class="commit-chart hidden-phone"
                data-chart="barchart"
                data-chartid="global">
              </div>
            </div>
            <div class="span4">
              <h2 class="participating"><a href="{% url 'julython-live' %}">{% trans "What's Happening?" %}</a></h2>
              <ul class="message-list" id="live-messages" data-bind="foreach: commits, event: {scroll: scrolled}">
              	<li class="message">
              		<div class="media">
              		  <a class="thumbnail pull-left" data-bind="visible: picture_url, attr: {href: '/' + username() +'/'}">
		            	<img class="media-object" data-bind="attr: {src: picture_url, alt: username}" />
	            	  </a>
	            	  <div class="media-body">
	            	  	<h4 class="media-heading"><span data-bind="timeago: timestamp"></span> &mdash; <a data-bind="text: project_name, attr: {href: project_url}"></a></h4>
	            		<p data-bind="text: message().substring(0, 100)"></p>
	            		<p class="hash">
	                      	<a data-bind="visible: username, text: username, attr: {href: '/' + username() + '/' }"></a> <span data-bind="visible: username, text: '&mdash;'"></span>
	                      	<a data-bind="visible: url, attr:{href:url }"><span data-bind="text: hash().substring(0, 8)"></span></a>
	                      	<span data-bind="visible: !url(), text: hash().substring(0, 8)"></span>
	                      </p>
	              	  </div>
              		</div>
				</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-container no-border ">
      <div class="row">
        <div class="span8">
          <h2 class="spread-the-word">{{ blog.title }}</h2>
          <p><em>{% trans "Posted on" %} {{ blog.posted|date }} {% trans 'by' %} {{ blog.user }}</em></p>
          <div class="post">
            {{ blog.body|markup }}
          </div>
        </div>
        <div class="span4">
          <h3>{% trans "Other Posts" %}</h3>
            {% blog_roll %}
        </div>
      </div>
    </div>

    {% comment %}
    <div id="spread-the-word" class="container section-container no-border">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span12">
              <h2 class="spread-the-word">{% trans "Good News Travels Fast" %}</h2>
            </div>
          </div>
          <div class="row">
            <div class="span5">
              <blockquote class="twitter-tweet"><p>HEY! Are you doing <a href="https://twitter.com/julython">@julython</a> ? Are a <a href="https://twitter.com/search?q=%23PyLady&amp;src=hash">#PyLady</a> or <a href="https://twitter.com/search?q=%23PyLaddy&amp;src=hash">#PyLaddy</a>? Join the PyLadies team!! <a href="http://t.co/TKDOXMHT0F">http://t.co/TKDOXMHT0F</a></p>&mdash; Lynn Root (@roguelynn) <a href="https://twitter.com/roguelynn/statuses/349062994006786049">June 24, 2013</a></blockquote>
              <blockquote class="twitter-tweet"><p>Python? July? Everything I love together at last! <a href="http://t.co/kUJGSo9s">http://t.co/kUJGSo9s</a> <a href="https://twitter.com/julython">@julython</a></p>&mdash; gun.io (@GUNdotIO) <a href="https://twitter.com/GUNdotIO/statuses/226003111909675008">July 19, 2012</a></blockquote>
              <blockquote class="twitter-tweet"><p>inspired by <a href="https://twitter.com/julython">@julython</a> to make July a big open source Python month for me, culminating in PyOhio where I&#39;ll talk about a few of the projects</p>&mdash; James Tauber (@jtauber) <a href="https://twitter.com/jtauber/statuses/218060737095008256">June 27, 2012</a></blockquote>
              <blockquote class="twitter-tweet"><p><a href="https://twitter.com/julython">@julython</a> has actually got me off my arse and doing some python coding. Trying to commit to 30mins a day. Is working so far. Long overdue!</p>&mdash; Stephen Allison (@StephenAllison7) <a href="https://twitter.com/StephenAllison7/statuses/221762124366622720">July 8, 2012</a></blockquote>
            </div>
            <div class="span5">
              <blockquote class="twitter-tweet"><p><a href="https://twitter.com/julython">@julython</a> I love the site, looks great and the idea is fantastic. I&#39;ll be making sure all my friends know. Thanks for being awesome!</p>&mdash; Wraithan (@Wraithan) <a href="https://twitter.com/Wraithan/statuses/219075478919716866">June 30, 2012</a></blockquote>
              <blockquote class="twitter-tweet"><p><a href="http://t.co/RpkBlgnT">http://t.co/RpkBlgnT</a> is a great idea. Too bad my contributions can&#39;t be tracked in an scm :(</p>&mdash; jessenoller (@jessenoller) <a href="https://twitter.com/jessenoller/statuses/218697531654283264">June 29, 2012</a></blockquote>
              <blockquote class="twitter-tweet"><p>python + july = julython! <a href="http://t.co/Cq7yebhh">http://t.co/Cq7yebhh</a></p>&mdash; Hilary Mason (@hmason) <a href="https://twitter.com/hmason/statuses/218066679362633728">June 27, 2012</a></blockquote>
              <blockquote class="twitter-tweet"><p>. <a href="https://twitter.com/julython">@Julython</a> - work on pet Python projects during July, earn points, collaborate, and compete against other cities: <a href="http://t.co/kQ20gn1R">http://t.co/kQ20gn1R</a></p>&mdash; Get Python (@getpy) <a href="https://twitter.com/getpy/statuses/218743289061449728">June 29, 2012</a></blockquote>
            </div>
            <div class="span2 section-blurb">
                <h3>{% trans "Sponsors" %}</h3>
                <p><a href="http://www.stxnext.com/"><img src="{{ STATIC_URL }}images/stx_logo.png" alt="STX Next"></a></p>
                <p><a href="http://www.rackspace.com"><img src="{{ STATIC_URL }}images/rackspace_logo.png" alt="Rackspace Hosting"></a></p>
                <p><script data-gittip-username="julython" src="https://www.gittip.com/assets/widgets/0002.js"></script></p>
                <h3>{% trans "Follow Us" %}</h3>
                  <p><a href="https://twitter.com/julython" class="twitter-follow-button" data-show-count="false">{% trans "Follow @julython" %}</a></p>
                  <p>{% trans "Like us on <a href='http://www.facebook.com/julython'>Facebook</a>" %}</p>
                  <p>{% trans "We love sharing code, visit our <a href='http://github.com/julython'>github</a> organization." %}</p>
            </div>
        </div>
        </div>
      </div>
    </div>
    {% endcomment %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript">
    // navigation bar
    //var nav = new Nav("#navigation", $("#topnav").height());
    //nav.setup();
    //nav.update();
    //var win = $(window);
    //win.scroll(function () { nav.update.apply(nav, arguments); });
    // charts!
    new Charts.BarChart("user-barchart")
      .load({{stats}})
      .set("xLabel", function(d, i) { return i+1; })
      .set("yLabel", function(d, i) { if (d) { return d; } else { return ""; } })
      .render();

    var view = new JULY.CommitsView();
	JULY.applyBindings(view, '#live-messages');
</script>
{% endblock %}
