<!DOCTYPE html>

{% load i18n %}

<html lang="en">
  <head>
    <title>{% trans "Julython 2012" %}</title>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    {% block extra_stylesheets %}{% endblock %}
    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31203363-1']);
          _gaq.push(['_trackPageview']);
    </script>
  </head>

  <body class="{% block bodyclass %}{% endblock %}">
    
    {% block navbar %}
    <div class="navbar navbar-fixed-top" id="topnav">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <a href="/"><img class="logo" alt="julython.org" src="{{ STATIC_URL }}images/julython_logo_small.png"/></a>
            <div class="navbar-links pull-right">
              {% block navbar-links %}
              <a class="navbar-link" href="{% url leaderboard %}">{% trans "People" %}</a>
              <a class="navbar-link" href="{% url projects %}">{% trans "Projects" %}</a>
              <a class="navbar-link" href="{% url locations %}">{% trans "Locations" %}</a>
              <a class="navbar-link" href="{% url teams %}">{% trans "Teams" %}</a>
              <a class="navbar-link" href="http://julython.spreadshirt.com">{% trans "T-Shirts!" %}</a>
              <a class="navbar-link" href="{% url help %}">{% trans "Help" %}</a>
              {% if user.is_authenticated %}
              <a class="navbar-link" href="{% url member-profile username=user.username %}"><img class="icon" src="{{ user.picture_url }}" > {{ user.username }}</a>
              {% else %}
              <a class="navbar-link" href="/signin/">{% trans "Sign In" %}</a>
              {% endif %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block contentheader %}{% endblock %}
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1 id="logo">{% trans "Julython 2012" %}</h1>
        </div>
      </div>

      <div class="row">
        <div class="span6 offset3 large-notice">
          <a href="" class="video">{% trans "Watch the Video" %}</a>
        </div>
      </div>
    </div>

    <div class="gray-container" id="navigation">
      <div class="container">
        <div class="row">
          <div class="span6 offset3" id="sticky-bar">
            <button class="what-is-this">{% trans "What is This?" %}</button>
            <button class="participating">{% trans "Participating" %}</button>
            <button class="the-rules">{% trans "The Rules" %}</button>
            <button class="teaming-up">{% trans "Teaming Up" %}</button>
            <button class="spread-the-word">{% trans "Spread the Word" %}</button>
          </div>
        </div>
      </div>
    </div>

    {% for section in sections %}
    {% if section.blurbs|length %}
    <div class="container section-container no-border">
      <div class="row">
        {% for block in section.blocks %}
        <div class="span{{ block.bootstrap_width }}">
          {% if block.title %}
          <div class="row">
            <div class="span{{ block.bootstrap_width}}">
              <h2 class="{{ block.slug }}">{{ block.title }}</h2>
            </div>
          </div>
          {% endif %}
          <div class="row">
            {% for blurb in block.blurbs %}
            <div class="span4 section-blurb">
              {% if blurb.title %}
              <h3>{{ blurb.title }}</h3>
              <p>{{ blurb.content }}</p>
              {% endif %}
              {% if blurb.image_url %}
              <img src="{{ blurb.image_url }}"/>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endblock %}

    {% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    {% endblock %}
    {% block extra_javascript %}{% endblock %}
    <script>
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script> 
  </body>

</html>
