<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Julython 2012</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'/>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span2">
              <img class="logo" src="/static/images/julython_logo_small.png"/>
            </div>
            <div class="span3 offset7 navbar-links">
              <a class="navbar-link" href="/accounts/twitter">Sign In</a>
              <a class="navbar-link" href="http://github.com/julython">Our GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <h1 id="logo">Julython 2012</h1>
        </div>
      </div>

      <div class="row">
        <div class="span6 offset3 large-notice">
          <a href="" class="video">Watch the Video</a>
        </div>
      </div>
    </div>

    <div class="gray-container">
      <div class="container">
        <div class="row">
          <div class="span6 offset3" id="sticky-bar">
            <button class="what-is-this">What is This?</button>
            <button class="participating">Participating</button>
            <button class="the-rules">The Rules</button>
            <button class="teaming-up">Teaming Up</button>
            <button class="spread-the-word">Spread the Word</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-container no-border">
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h2 class="what-is-this">Why are you people making up words?</h3>
            </div>
          </div>
          <div class="row">
            <div class="span4 section-blurb">
              <h3>You are a busy person.</h3>
              <p>
                Jerky speck fatback tenderloin meatloaf, chuck brisket ham hock
                pork filet mignon short loin. Sausage biltong kielbasa bresaola,
                cow swine tongue pancetta. Prosciutto ball tip chicken.
              </p>
            </div>
            <div class="span4 section-blurb">
              <h3>You are a busy person.</h3>
              <p>
                Jerky speck fatback tenderloin meatloaf, chuck brisket ham hock
                pork filet mignon short loin. Sausage biltong kielbasa bresaola,
                cow swine tongue pancetta. Prosciutto ball tip chicken.
              </p>
            </div>
          </div>
        </div>
        <div class="span4">
          <img src="/static/images/welcome_to_julython.png"/>
        </div>
      </div>
    </div>

    <div class="container section-container">
      <div class="row">
        <div class="span12">
          <h2 class="what-is-this">Why are you people making up words?</h3>
        </div>
      </div>
      <div class="row">
        <div class="span4 section-blurb">
          <h3>You are a busy person.</h3>
          <p>
            Jerky speck fatback tenderloin meatloaf, chuck brisket ham hock
            pork filet mignon short loin. Sausage biltong kielbasa bresaola,
            cow swine tongue pancetta. Prosciutto ball tip chicken.
          </p>
        </div>
        <div class="span4 section-blurb">
          <h3>You are a busy person.</h3>
          <p>
            Jerky speck fatback tenderloin meatloaf, chuck brisket ham hock
            pork filet mignon short loin. Sausage biltong kielbasa bresaola,
            cow swine tongue pancetta. Prosciutto ball tip chicken.
          </p>
        </div>
        <div class="span4 section-blurb">
          <h3>You are a busy person.</h3>
          <p>
            Jerky speck fatback tenderloin meatloaf, chuck brisket ham hock
            pork filet mignon short loin. Sausage biltong kielbasa bresaola,
            cow swine tongue pancetta. Prosciutto ball tip chicken.
          </p>
        </div>
      </div>
    </div>

  </body>

</html>

