{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1 id="logo">{% trans "Julython 2012" %}</h1>
        </div>
      </div>
      
   {# Teaser #}
   {% if not user.is_authenticated %}
      {% comment %}
      <div class="row">
        <div class="span6 offset3 large-notice">
          <a href="" class="video">{% trans "Watch the Video" %}</a>
        </div>
      </div>
      {% endcomment %}
    </div>

    <div class="gray-container" id="navigation">
      <div class="container">
        <div class="row">
          <div class="span6 offset3" id="sticky-bar">
            <button class="what-is-this">{% trans "What is This?" %}</button>
            <button class="participating">{% trans "Participating" %}</button>
            <button class="the-rules">{% trans "The Rules" %}</button>
            <button class="teaming-up">{% trans "Teaming Up" %}</button>
            <button class="spread-the-word">{% trans "Spread the Word" %}</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container section-container no-border">
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h2 class="what-is-this">{% trans "Why are you people making up words?" %}</h2>
            </div>
          </div>
          <div class="row">
            <div class="span4 section-blurb">
              <h3>{% trans "We all have those Python projects..." %}</h3>
              <p>{% trans "You know, the ones that have been sitting on our hard drives collecting dust, with perhaps a few __init__.py files and maybe a TODO. But being busy people, we're content to just promise at some point we'll make time to work on it..." %}</p>
            </div>
            <div class="span4 section-blurb">
              <h3>{% trans "So make the time." %}</h3>
              <p>{% trans "This summer, during the <a href='/help/#times'>month of July</a>, we're encouraging developers of all skill levels to try and work on your pet project(s) just a little each day. It's a great excuse to contribute to the communities you follow, or even dive into the language for the first time!" %}</p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="row"> 
            <div class="span4 section-blurb">
              <img src="{{ STATIC_URL }}images/welcome_to_julython.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container section-container no-border">
      <div class="row">
        <div class="span4">
          <div class="row">
            <div class="span4 section-blurb">
              <img src="{{ STATIC_URL }}images/spinning_snake.png"/>
            </div>
          </div>
        </div>
        
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h2 class="participating">{% trans "I'm interested. How do I make this happen?" %}</h2>
            </div>
          </div>
          <div class="row">
            <div class="span4 section-blurb">
              <h3>{% trans "It's totally up to you." %}</h3>
              <p>{% trans "What you do during Julython is ultimately up to you. Been hankerin' to play with ZeroMQ, NumPy or Riak? Now's your chance. Have a Django or Tornado web app you've always wanted to build? <a href='/help/#get-started'>Go hog wild</a>." %}</p>
            </div>
            <div class="span4 section-blurb">
              <h3>{% trans "However, it's good to share." %}</h3>
              <p>{% trans "We recommend you work on something open, perhaps on GitHub or Bitbucket, so that others can see your progress. Then <a href='/help/#webhook'>add a webhook</a> for your repository, and we'll track your progress next to everyone else!" %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="container section-container no-border">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span12">
              <h2 class="the-rules">{% trans "What are the rules?" %}</h2>
            </div>
          </div>
          <div class="row">
            <div class="span4 section-blurb">
              <h3>{% trans "There are no rules!" %}</h3>
              <p>{% trans "Okay, just one rule, it has to be a Python project. Of course you can work on some javascript to make you web apps. But, the heart of the project should be Python. Of course we wont check every commit (or maybe none at all) so you could do anything you want." %}</p>
            </div>
            <div class="span4 section-blurb">
              <h3>{% trans "Whats in it for me?" %}</h3>
              <p>{% trans "Fame and fortune! The goal is that you either learn something new or meet someone who is also interested in similar Python tools. If you share your repository or your commits with us, we will <a href='/help/#points'>tally up points</a> for each commit or new project you work on." %}</p>
            </div>
            <div class="span4 section-blurb">
              <h3>{% trans "Can I work on an existing project?" %}</h3>
              <p>{% trans "Yes! But you will only get 'credit' for commits <a href='/help/#times'>within the month of July</a>. You should consider forking an existing project if you are not the owner and register that fork." %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="container section-container no-border">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span12">
              <h2 class="teaming-up">{% trans "Joining Forces" %}</h2>
            </div>
          </div>
          <div class="row">
            <div class="span4 section-blurb">
              <h3>{% trans "Local is in" %}</h3>
              <p>{% trans "We encourage everyone to team up, our goal is to have meetups organically created in cites across the country. There should be participants meeting in a coffee shop or bar near you. We'll have a way to post a meeting and location and you can search for something close by." %}</p>
            </div>
            <div class="span4 section-blurb">
              <h3>{% trans "Cities against cities" %}</h3>
              <p>{% trans "So you think your city has the most committed Python programmers? Be sure to sign up to have your commits go toward your home town. We will see <a href='/location/'>which cities are the most committed</a>." %}</p>
            </div>
            <div class="span4 section-blurb">
              <h3>{% trans "Frameworks against Frameworks" %}</h3>
              <p>{% trans "Already work on some fancy web framework? Be sure to fork the project and <a href='/help/#webhook'>add a webhook</a>. At the end we will add up all the points and award them to the parent project, then we'll see how well each project ranks against others. A dance-off will decide the winners in the event of a tie." %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="container section-container no-border">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span12">
              <h2 class="spread-the-word">{% trans "Good News Travels Fast" %}</h2>
            </div>
          </div>
          <div class="row">
            <div class="span4 section-blurb">
              <h3>{% trans "Twitter" %}</h3>
              <p><a href="https://twitter.com/julython" class="twitter-follow-button" data-show-count="false">{% trans "Follow @julython" %}</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
            </div>
            <div class="span4 section-blurb">
              <h3>{% trans "Facebook" %}</h3>
              <p>{% trans "Like us on <a href='http://www.facebook.com/julython'>Facebook</a>" %}</p>
            </div>
            <div class="span4 section-blurb">
              <h3>{% trans "Github" %}</h3>
              <p>{% trans "We love sharing code, follow us on <a href='http://github.com/julython'>github</a>." %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    {% else %}
    <div id="navigation">{# just leave me blank #}</div>
    <div class="container section-container no-border">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span8">
              <h2 class="spread-the-word">{% blocktrans %}You are all doing awesome! {{ total }} commits so far!{% endblocktrans %}</h2>
              <div id="user-barchart"
                class="commit-chart hidden-phone"
                data-chart="barchart"
                data-chartid="global">
              </div>
            </div>
            <div class="span4">
              <h2 class="participating">What's Happening?</h2>
              <ul class="message-list" id="live-messages"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container section-container no-border">
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span12">
              <h2 class="teaming-up">{% trans "High Scores" %}</h2>
            </div>
          </div>
          
          <div class="row">
            <div class="span3 section-blurb">
              <h3>{% trans "People" %}</h3>
              {% for user in people %}
                  <h3>
                        <img src="{{ user.picture_url }}" alt="{{ user.first_name}} {{ user.last_name }}" width="50"/>
                        <a href="{% url member-profile user.username %}">{{ user }}</a>
                  </h3>
                  {% if user.description %}<p>{{ user.description }}</p>{% endif %}
                  <p><a href="/location/{{ user.location_slug }}">{{ user.location }}</a></p>
                  {% if user.team %}
                  <p><a href="{% url team-details user.team_slug %}">{{ user.team }}</a></p>
                  {% endif %}
                  <p>{% blocktrans count number_of_points=user.total|default:0 %}{{ number_of_points }} point in {% plural %}{{ number_of_points }} points in {% endblocktrans %}
                      <a href="{% url user-projects user.username %}">{% blocktrans count number_of_projects=user.projects|length %}{{ number_of_projects }} project{% plural %}{{ number_of_projects }} projects{% endblocktrans %}</a></p>
              {% if not forloop.last %}<hr>{% endif %}
              {% endfor %}
            </div>
            
            <div class="span3 section-blurb">
              <h3>{% trans "Locations" %}</h3>
              {% for location in locations %}
                  <h3><a href="/location/{{ location.slug }}/">{{ location }}</a></h3>
                  <p>
                    {% blocktrans count number_of_points=location.total|default:0 %}{{ number_of_points }} point in {% plural %}{{ number_of_points }} points in {% endblocktrans %}
                    {% blocktrans count number_of_projects=location.projects|length %}{{ number_of_projects }} project{% plural %}{{ number_of_projects }} projects{% endblocktrans %}
                  </p>
              {% if not forloop.last %}<hr>{% endif %}
              {% endfor %}

            </div>
            <div class="span3 section-blurb">
              <h3>{% trans "Teams" %}</h3>
              {% for team in teams %}
                  <h3><a href="{% url team-details team.slug %}">{{ team }}</a></h3>
                  <p>
                    {% blocktrans count number_of_points=team.total|default:0 %}{{ number_of_points }} point in {% plural %}{{ number_of_points }} points in {% endblocktrans %}
                    {% blocktrans count number_of_projects=team.projects|length %}{{ number_of_projects }} project{% plural %}{{ number_of_projects }} projects{% endblocktrans %}
                  </p>
              {% if not forloop.last %}<hr>{% endif %}
              {% endfor %}
            </div>
            
            <div class="span3 section-blurb">
              <h3>{% trans "Projects" %}</h3>
              {% for project in projects %}
              <div class="project">
                     <h3><a href="{% url project-details project.project_name %}">{{ project }}</a> </h3>
                     <h3>({{ project.total }} {% trans "points" %})</h3>
                     {% if project.description %}
                     <p>{{ project.description }}</p>
                     {% endif %}
                     <p><a href="{{ project.url }}">{{ project.url }}</a></p>
              </div>
              {% if not forloop.last %}<hr>{% endif %}
              {% endfor %}
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    {% endif %}
    
    
    {% comment %}
    {% for section in sections %}
    {% if section.blurbs|length %}
    <div class="container section-container no-border">
      <div class="row">
        {% for block in section.blocks %}
        <div class="span{{ block.bootstrap_width }}">
          {% if block.title %}
          <div class="row">
            <div class="span{{ block.bootstrap_width}}">
              <h2 class="{{ block.slug }}">{{ block.title }}</h2>
            </div>
          </div>
          {% endif %}
          <div class="row">
            {% for blurb in block.blurbs %}
            <div class="span4 section-blurb">
              {% if blurb.title %}
              <h3>{{ blurb.title }}</h3>
              <p>{{ blurb.content|safe }}</p>
              {% endif %}
              {% if blurb.image_url %}
              <img src="{{ blurb.image_url }}"/>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endcomment %}
    
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/channel.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    new Charts.BarChart("user-barchart")
      .load({{stats}})
      .set("xLabel", function(d, i) { return i+1; })
      .set("yLabel", function(d, i) { if (d) { return d; } else { return ""; } })
      .render();
    var channel = new julython.Channel($("#live-messages"), "{{ token }}", {maxMessages: 30});
    channel.prepopulate("{{ messages|safe|addslashes }}");
  });
</script>
{% endblock %}

