<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Julython 2012</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'/>
    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31203363-1']);
          _gaq.push(['_trackPageview']);
    </script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top" id="topnav">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span2">
              <img class="logo" src="/static/images/julython_logo_small.png"/>
            </div>
            <div class="span3 offset7 navbar-links">
              <a class="navbar-link" href="/accounts/twitter">Sign In</a>
              <a class="navbar-link" href="http://github.com/julython">Our GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <h1 id="logo">Julython 2012</h1>
        </div>
      </div>

      <div class="row">
        <div class="span6 offset3 large-notice">
          <a href="" class="video">Watch the Video</a>
        </div>
      </div>
    </div>

    <div class="gray-container" id="navigation">
      <div class="container">
        <div class="row">
          <div class="span6 offset3" id="sticky-bar">
            <button class="what-is-this">What is This?</button>
            <button class="participating">Participating</button>
            <button class="the-rules">The Rules</button>
            <button class="teaming-up">Teaming Up</button>
            <button class="spread-the-word">Spread the Word</button>
          </div>
        </div>
      </div>
    </div>

    {% for section in sections %}
    {% if section.blurbs|length %}
    <div class="container section-container no-border">
      <div class="row">
        {% for block in section.blocks %}
        <div class="span{{ block.bootstrap_width }}">
          {% if block.title %}
          <div class="row">
            <div class="span{{ block.bootstrap_width}}">
              <h2 class="{{ block.slug }}">{{ block.title }}</h2>
            </div>
          </div>
          {% endif %}
          <div class="row">
            {% for blurb in block.blurbs %}
            <div class="span4 section-blurb">
              {% if blurb.title %}
              <h3>{{ blurb.title }}</h3>
              <p>{{ blurb.content }}</p>
              {% endif %}
              {% if blurb.image_url %}
              <img src="{{ blurb.image_url }}"/>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endfor %}

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script>
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script> 
  </body>

</html>

