<!DOCTYPE html>
<html>
<head><title>Julython 2012</title></head>
<body style="background:#ccc;padding:0;margin:0;color:#666;font-family:'Lucida Console',Monaco,monospace">
    <div style="width:700px;margin:auto;padding-top:10em;">
        <div style="border:2px solid #666;padding:3em;margin:auto;background:#eee;-moz-border-radius:10px;border-radius:10px;-webkit-border-radius:10px;">
            <h1>Out to lunch!</h1>
            <p>We are making some improvements, don't worry the commit web hooks are still working.</p>
            <p>While we're down go visit <a href="http://github.com/julython/julython.org">Our github</a></p>
        </div>
    </div>
</body>
</html>