{% load i18n %}
<div id="project-list">
  <div data-bind="visible: projects().length > 0">
      <h2 class="spread-the-word">{% trans "Projects" %}</h2>
      {% if profile.username == user.username %}
        <p class="lead">{% blocktrans %}Link more projects under the 'Github Projects' tabs or add the <a href="/help/#webhook">hook manually</a>{% endblocktrans %}</p>
      {% endif %}
      <div data-bind="foreach: projects" class="projects">
        {% include "includes/user_project.html" %}
      </div>
  </div>
  <div data-bind="visible: projects().length == 0">
    <h2 class="spread-the-word">{% trans "Let's get started!" %}</h2>
    <p class="lead">
    {% blocktrans %}First <a href="{{ edit_profile_url }}">edit your profile</a> and add all the email addresses you use to commit with.  This is how we'll identify you, we will not display or share this information.{% endblocktrans %}
    </p>
    {% include "includes/hook-instructions.html" %}
  </div>
</div>
