{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container-fluid leaderboard">
    <div class="row-fluid">
      <div class="span10 offset1">
        <h2 class="teaming-up">Team &mdash; {{ team }} 
          <span class="pull-right">{{ team.total_points }} {% trans "points" %}</h2>
      </div>
    </div>
    <div class="row-fluid">
        <div class="span5 offset1">
          <h4>{% trans "People" %}</h4>
            {% for player in team.members_by_points|slice:":100" %}
              {% include "includes/person.html" %}
            {% endfor %}
        </div> 
        <div class="span5">
          <h4>{% trans "Projects" %}</h4>
            {% for board in team.game_boards|slice:":100" %}
              {% include "includes/board.html" %}
            {% endfor %}  
        </div>
        </div>
    </div>
</div>

{% endblock %}
